.navbar{
    position: fixed;
}

/* Log In */

#AlllogIn{
    margin-top: 56px;
}

#container-logIn{
    padding-top: 80px;
}

#logIn{
    border: 1px solid black;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

h1.ligIn{
    text-align: center;
}



