.navbar{
    position: fixed;
}


#allLogIn,
#allHome,
#allTemplates{
    margin-top: 56px;
}

/* #### Log In #### */

#container-logIn{
    padding-top: 80px;
}

#logIn{
    border: 1px solid black;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

h1.ligIn{
    text-align: center;
}


/* ### templates ### */
#allTemplates{
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.templates{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Mega Store */
.headerMegaStore,
.preheaderMegaStore{
    background-color:rgb(30, 59, 81);
    border-color: #1e3b51!important;
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position-x:0%;
    background-position-y:0%;
    background-size: auto;
    box-sizing:border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height:21px;
    text-align:left;
    text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-family:"Open Sans";
    width:1263.33px;
}

.headerMegaStore {
    background-color:rgb(255, 255, 255);
    color:rgb(51, 51, 51);
}

.preheaderMegaStore{
    color:rgb(255, 255, 255);
    border-bottom-color:rgb(30, 59, 81);
    border-left-color:rgb(30, 59, 81);
    border-right-color:rgb(30, 59, 81);
    border-top-color:rgb(30, 59, 81);
}

 .headerMegaStore  .preheaderMegaStore-message{
    color:rgb(255, 255, 255);
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    padding-top:10px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.headerMegaStore .preheaderMegaStore-menu .preheaderMegaStore-menu-item{
    display: inline-block;
}

 .headerMegaStore .preheaderMegaStore-menu .preheaderMegaStore-menu-item > a {
    height: 40px;
    line-height: 40px;
    color: #fff  !important;
    display: block;
}



.headerMegaStore .preheaderMegaStore .preheaderMegaStore-menu {
    text-align: right;
    padding: 10px 0;
    box-sizing: border-box;
}

.trsn, 
.trsn:hover, 
.trsn:focus, 
.trsn::before, 
.trsn::after, 
button.trsn:hover, 
select.select, 
select.select:hover {
    text-decoration: none !important;
    -webkit-transition: all 0.2s linear !important;
    -moz-transition: all 0.2s linear !important;
    -ms-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.headerMegaStore .preheaderMegaStore-menu > * {
    font-weight: 300;
}

#dropdown-menu-right{
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(48px, 40px, 0px);
} 

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}

.dropdown-menu {
    padding: 0;
    border: 1px solid #eee;
    border-radius: 0;
}

.headerMegaStore .preheaderMegaStore-menu > span {
    margin: 0 10px;
}

